backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.idea
backend/.vscode
backend/.vagrant
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.env
backend/.phpunit.result.cache
frontmobile/*~
frontmobile/*.sw[mnpcod]
frontmobile/*.log
frontmobile/*.tmp
frontmobile/*.tmp.*
frontmobile/log.txt
frontmobile/*.sublime-project
frontmobile/*.sublime-workspace
frontmobile/.vscode/
frontmobile/npm-debug.log*
frontmobile/.idea/
frontmobile/.sourcemaps/
frontmobile/.sass-cache/
frontmobile/.tmp/
frontmobile/.versions/
frontmobile/coverage/
frontmobile/dist/
frontmobile/node_modules/
frontmobile/tmp/
frontmobile/temp/
frontmobile/hooks/
frontmobile/platforms/
frontmobile/plugins/
frontmobile/plugins/android.json
frontmobile/plugins/ios.json
frontmobile/www/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate